@import '../../../App.scss';

.MenuHeaderDiv {
    width: 400px;

    ul{
        display: flex;

            li {
                width: 100%;

                a{
                    // color: white;
                    font-family: $textos-estilos;
                    
                
                    &:hover{
                        color: $textos-color;
                        font-weight: bolder;
                    }
                }


                

            }
    }
}