@import '../../../App.scss';


.div-LogoHeader {
    h1 {
        color: $texto-blanco;
        cursor: pointer;
        font-family: $textos-estilos;

        &:hover {
            color: $textos-color;
        }

    }
}
